@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>Welkom op Denny's WebShop!</p>

</div>
    <img class="col-2 offset-5" src="~/images/shoppingcart.jpg" asp-append-version="true"/>

